* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.7;
  font-size: 22px;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.main_content {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}
.article_left {
  order: 1;
  width: 30%;
  background-color: #f7e6e2ea;
  padding: 30px;
  margin: 30px;
  padding-top: 100px;
}

.photo {
  padding-left: 170px;
}

.article_right {
  order: 2;
  width: 60%;
}

.footer {
  justify-content: space-between;
  align-items: center;
}

section {
  padding-left: 40px;
}

pre {
  background-color: #f4f4f4;
}

h3 {
  background-color: #f7e6e2ea;
}

h1 {
  font-size: 52px;
  text-align: center;
  margin-top: 220px;
}

h2 {
  font-size: 36px;
  text-align: center;
  display: block;
  margin-bottom: 140px;
}

h3 {
  margin: 20px;
  font-size: 30px;
}

a:hover {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
.footer {
  padding-left: 30px;
}

.li_none {
  list-style-type: none;
}
